:root {
    --dark-color: #2E0F15;
    --light-color-1: #BEC5AD;
    --light-color-2: #DEAD5B;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
}

body {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-color);
    color: var(--light-color-2);
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    color: var(--light-color-1);
    border: 3px solid var(--light-color-1);
}

fieldset {
    display: flex;
    flex-direction: column;
}

.fieldsets {
    display: flex;
    flex-direction: row;
}

.right {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.right>* {
    margin: 15px 100px;
    /* width: min(300px, 100%); */
}

.left {
    background-color: var(--light-color-1);
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}