:root {}

body {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

fieldset {
    display: flex;
    flex-direction: column;
}

.fieldsets {
    display: flex;
    flex-direction: row;
}

.right {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.left {
    background-color: #BEC5AD;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}